html {
       background-color: black;

}




#page {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
 }

 #info {
    color: white;
    font-family: serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smooithing: grayscale;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;


 }

 #info h1{
    font-size: 20px;
    text-align: center;
 }

 #info p{
    font-size: 15px;
    text-align: center;
 }

#text {
  text-align: center;
  z-index: 10;
  font-size: 75px;
  margin-bottom: -20;
    font-family: "Comic Sans MS";
  
     background: linear-gradient(270deg, #ff0000, #ff7e00, #ffee00, #02ff00, #001cff, #af00ff);
    background-size: 1200% 1200%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  
}

#hands{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hand1 {
  rotate: -90deg;
  width: 15%;
   z-index: 2;
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}


.hand2 {
  rotate: 75deg;
  width: 14%;
  z-index: 2;
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
.confetti {
  width: 80%;
  position: fixed;
  z-index: 0;
  
}

